.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 300px;
  width: 300px;
  transform: scale(1);
}

.circle {
  position: absolute;
  background-color: #151423;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: -1;
  box-shadow: inner 0 0 20px 0 #fff;
}

.text {
  display: none;
}

.circle-gradient {
  background: conic-gradient(
    #ffffff,
    #9eabc9,
    #fff,
    #9eabc9,
    #ffffff,
    #ffffff
  );
  position: absolute;
  height: 320px;
  width: 320px;
  z-index: -2;
  border-radius: 50%;
  top: -10px;
  left: -10px;
  box-shadow: 0 0 20px #7179b4;

}
.dot {
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
  box-shadow: 0 0 15px 0 #7179b4;
}

.dot-container {
  visibility: hidden;
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
    animation: grow 3s linear forwards;
}

@keyframes grow {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.container.shrink {
    animation: shrink 3s linear forwards;
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}