.music-container {
    background-color: #151423;
    border-radius: 18px;
    box-shadow: 0 0 10px 0px #9eabc9;
    margin-bottom: 50px;
  }
  
  .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .action-btn {
    background-color: #151423;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
  }
  
  .action-btn.action-btn-big {
    color: #fff;
    font-size: 25px;
  }
  
  .action-btn:focus {
    outline: 0;
  }