.music-container {
  visibility: hidden;
  background-color: #151423;
  border-radius: 18px;
  box-shadow: 0 0 10px 0px #9eabc9;
  margin-bottom: 50px;
}

.music-container.animated {
  animation: fadeIn ease 5s;;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-btn {
  background-color: #151423;
  font-size: 12px;
  border: 0;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
}

.action-btn.action-btn-big {
  color: #fff;
  font-size: 20px;
}

.action-btn:focus {
  outline: 0;
}
