:root {
  --size: 320px;
  --border-width: 10px;
  --shoulder-width: 20px;
  --shoulder-length: 40px;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: var(--size);
  width: var(--size);
  transform: scale(1);
}

.circle {
  position: absolute;
  background-color: #151423;
  height: calc(100% - 2*var(--border-width));
  width: calc(100% - 2*var(--border-width));
  border-radius: 50%;
  top: var(--border-width);
  left: var(--border-width);
  z-index: -1;
  box-shadow: inner 0 0 20px 0 #fff;
}

.text {
  display: none;
}

.play .text {
  display: block;
}

.text-start {
  font-weight: 100;
  cursor: pointer;
}

.initialized .text-start {
  display: none;
}

.circle-gradient {
  background: conic-gradient(#ffffff, #9eabc9, #fff, #9eabc9, #ffffff, #ffffff);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -2;
  border-radius: 50%;
  box-shadow: 0 0 20px #7179b4;
}
.dot {
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: block;
  box-shadow: 0 0 15px 0 #7179b4;
}

.dot-container {
  visibility: hidden;
  position: absolute;
  top: -40px;
  left: calc(50% - 2/var(--shoulder-width));
  width: var(--shoulder-width);
  height: calc(50% + var(--shoulder-length)); /* shoulder length = 40px */
  /* background-color: red; shoulder of dot */
  transform-origin: bottom center;
  animation-play-state: paused;
  transition: opacity 5s; /* animace */
  opacity: 0;
  animation: rotate 7.5s linear forwards infinite paused;
}

.initialized .dot-container {
  visibility: visible;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.play .dot-container {
  animation-play-state: running;
}

.pause .dot-container {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.container.grow {
  animation: grow 3s linear forwards;
  animation-play-state: running;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

.container.shrink {
  animation: shrink 3s linear forwards;
  animation-play-state: running;
}

@keyframes shrink {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1);
  }
}

@media only screen and (max-width: 500px) {
  .container {
    height: 250px;
    width: 250px;
    margin: 25% 0;
  }
}  